.header {
    width: 100%;
    position: relative;
    margin-top: -50px;
}

.fotoHome {
    width: 100%;
    height: auto;
    object-fit: cover;

    display: block;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}