@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('../assets/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --background: #FFFFFF;

  --cor-texto-principal: #000000;
  --cor-texto-secundaria: #727272;
  --cor-texto-inversa: #FFFFFF;

  --cor-borda: #E2E2E2;

  --cor-tema-principal: #142D41;
  --cor-tema-secundaria: #C08E21;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(16px, 2vw, 20px);
}

body {
  font-family: 'FiraSans', sans-serif;
}

input {
  font-family: 'FiraSans', sans-serif;
}

input::placeholder {
  font-family: 'FiraSans', sans-serif;
}

@media (hover: hover) and (pointer: fine) {
  button {
    cursor: pointer;
  }
}

.divDebug {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1500px;
  background-color: #ffffff;
}

.divDebug > p {
  margin-top: 70px;
  margin-left: 20px;
  align-self: flex-start;
  color: #000000;
}
