.productCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 146px;
    height: 238px;
}

.productImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.productInfo {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: -6px;
    gap: 5px;
}

.infoContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    font-size: 10px;
    text-align: left;
    align-self: flex-start;
    max-width: 106px;
}

.ratingContainer {
    display: flex;
    align-items: center;
}

.infoContainer > .ratingContainer > .rating {
    display: flex;
    align-items: center;
    font-size: 10px;;
    color: var(--cor-texto-secundaria);
}

.infoContainer > .ratingContainer > .star {
    color: var(--cor-tema-secundaria);
    height: 14px;
    width: 14px;
    margin-top: -4px;
}

.ratingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
}

.infoContainer > .price {
    font-size: 16px;
    font-size: 10px;;
    font-weight: bold;
}

.productType {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 12px;
    width: 46px;
    border: 0.4px solid var(--cor-tema-secundaria);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.productType > p {
    font-size: 6px;
    font-weight: lighter;
    color: var(--cor-tema-secundaria);
}

.discountCard {
    position: absolute;
    top: 24px;
    right: 8px;
    height: 12px;
    width: 46px;
    border: 0.4px solid #B81B1B;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.discountCard > p {
    font-size: 6px;
    font-weight: lighter;
    color: #B81B1B;
}

@media (hover: hover) and (pointer: fine) {
  .productCard {
    cursor: pointer;
  }
}