.progressContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.progressContainer::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  top: 46px;
  background-color: var(--cor-borda);
  z-index: 0;
}

.progress {
  position: absolute;
  height: 2px;
  top: 46px;
  left: 0;
  background-color: var(--cor-tema-principal);
  z-index: 1;
  transition: width 0.3s;
}

.progressStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  z-index: 2;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid var(--cor-borda);
  background-color: white;
  color: var(--cor-borda);
  margin-bottom: 8px;
  transition: 0.3s;
}

.icon.active {
  border-color: var(--cor-tema-principal);
  color: var(--cor-tema-principal);
}

.completed {
  color: var(--cor-tema-principal);
}

.current {
  color: var(--cor-tema-principal);
}

.upcoming {
  color: var(--cor-borda)
}

.textBar {
  font-size: 14px;
}

.dateStyle {
  font-size: 10px;
  color: var(--cor-texto-secundaria);
  max-width: 45px;
  text-align: center;
  margin-top: -3px;
}